/*header azudand sar sud*/
header {
	background: #3A505E;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	border-bottom: 4px solid red;
	width: 100%;
	height: 70px;
}
header a, header a:hover, header a:active, header a:visited {
	border: none;
}
#header-darun {
	max-width: 1366px;
	margin: 0 auto;
	box-sizing: border-box;
	position: relative;
}
/*Logotip*/
#logo {
	margin: 0px;
	width: 191px;
	height: 70px;
	background: url(../../img/logo-desktop.png);
	float: left;
	clear: right;
}
/*navigacia azu'dand sar su'd*/
nav {
	float: left;
	clear: right;
}
nav ul {
	list-style-type: none;
	float: left;
	clear: right;
}
nav ul li {
	display: inline-block;
	padding: 18px 30px 14px 30px;
	border-right: 1px solid grey;
	float: left;
	height: 33px;
}
nav ul li:hover {
	background-color: #314252;
	height: 38px;
}
nav a {
	text-decoration: none;
	color: #f8f8f8;
	font-family: "HelveticaNeue";
}
nav h5 {
	text-transform: uppercase;
	font-weight: 700;
	margin: 0px;
	padding: 0px;
	color: #f8f8f8;
	cursor: default;
}
nav small {
	margin: 0px;
	padding: 0px;
	display: block;
	font-size: 70%;
	color: #f8f8f8;
	cursor: default;
}
#langSelect {
	position: absolute;
	right: 10px;
}
#langSelect ul {
	list-style-type: none;
}
#langSelect li {
	display: block;
}
#langSelect a {
	text-decoration: none;
	color: #ff2222;
	font-size: 70%;
	padding: 10px;
}
.current {
	color: #ffffff !important;
}
/* azudand duyum lvl sar sud */

.lvl2 {
	position: absolute;
	display: flex;
	justify-content: flex-start;
	top: 70px;
	left: 0px;
	width: 100%;
	height: auto;
	box-sizing: border-box;
	background-color: rgba(58, 80, 94, .9);
	border-top: 20px solid #314252;
	padding: 40px 10px 40px 10px;
	z-index: 600;
	transition: 0s;
}
.lvl2_categories {
	border-right: 1px solid #444444;
	border-left: 1px solid #888888;
}
.lvl2_categories:first-child {
	border-left: none;
}
.lvl2_categories:last-child {
	border-right: none;
}
.lvl2 table td {
	vertical-align: top;
	padding: 0px 40px;
}
.lvl2 table h5 {
	font-weight: 600;
	text-transform: uppercase;
	color: #f8f8f8;
	padding-bottom: 15px;
}
.lvl2 table a {
	color: #a0aba8;
}
.lvl2 table a:hover {
	color: #ffffff;
}
.lvl2 table p {
	font-size: 14px;
}
